<h2>Generated Complaint Letter</h2>

<p>
To,<br>
The Principal,<br>
{{ college }}<br>
</p>

<p>
Subject: Complaint regarding issue in {{ branch }} department
</p>

<p>
Respected Sir/Madam,<br><br>

I, {{ name }}, from {{ branch }} branch, would like to inform you that:<br><br>

{{ description }}<br><br>

Kindly take necessary action.<br><br>

Thanking you.<br><br>

Yours sincerely,<br>
{{ name }}<br>
Phone: {{ phone }}<br>
Date: {{ date }}
</p>
<br><br>
<a href="/download_letter">
    <button>Download PDF</button>
</a>